*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

:root{
    - White: hsl(0, 0%, 100%);
    - Light gray: hsl(212, 45%, 89%);
    - Grayish blue: hsl(220, 15%, 55%);
    - Dark blue: hsl(218, 44%, 22%);

}

body{
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
}

img{
    max-width: 100%;
    border-radius: 5%;
}

/* Container Styling */

.container{
    background-color: white;
    width: 30%;
    margin: auto;
    border-radius: 5%;
    box-shadow: 9px 8px 17px -7px rgba(0,0,0,0.65);
    -webkit-box-shadow: 9px 8px 17px -7px rgba(0,0,0,0.65);
    -moz-box-shadow: 9px 8px 17px -7px rgba(0,0,0,0.65);

}

.row{
    text-align: center;
    margin:2rem 0;
    padding: 1rem 1rem;
}

.row img{
    margin-bottom: 1rem;
}

.row-text{
    width: 90%;
    margin: auto;
}

.row-text h1{
    margin-bottom: 1rem;
    font-weight: 700;
}

.row-text p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}


